<!-- views/home.ejs -->
<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Films recommandés par algorithme</title>
		<link rel="shortcut icon" href="/img/icon_small.png">
		<!-- Imports -->
		<link rel="stylesheet" href="/css/index.css" type="text/css"><link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"><link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
		<script src="/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>
		<script src="/core/apiRequests/apirequests.js"></script>
		<script src="/core/algorithm/AlgorithmRGv2.js"></script>
		<script src="/js/algo.js"></script>
	</head>

	<body>
		<h2 style="display:none;" id="notes"><%= notes %></h2>
		<h2 style="display:none;" id="userID"><%= userId %></h2>

<!------------------------------------------------------- Barre menu ----------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------------------- -->

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/home">MoviesBestChoice</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/home">Accueil</a></li>
						<li><a href="/profile">Profil</a></li>
						<li class="active"><a href="/testAlgo">Films recommandés pour vous</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Se déconnecter</a></li>
					</ul>

					<form class="navbar-form" role="search">
						<div class="input-group" style="padding-left:150px;">
							<input type="text" class="form-control pull-right" style="width: 250px; " placeholder="Chercher des films, des acteurs, ..." ng-model="inputText" onkeydown="if(event.keyCode === 13) $('#search').click()" />
							<span class="input-group-btn">
								<button id="search" type="submit" class="btn btn-default" style="height:34px" ng-click="ctrl.search(inputText)">
									<span class="glyphicon glyphicon-search">
										<span class="sr-only">Rechercher</span>
									</span>
								</button>
							</span>
						</div>
					</form>


				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<!-- ------------------------------------------------------------ MAIN DIV ------------------------------------------------------------------- -->
		</br></br></br>
		<div id="main" class="container">


			<!-- Contenu dynamique de la page -->
			<div id="recommandations"></div>


		</div>




	</body>
</html>
