<!-- views/movie.ejs -->
<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title id='pageTitle'>MoviesBestChoice</title>
		<!-- Imports -->
		<link rel="shortcut icon" href="/img/icon_small.png">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/movies.css">
		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
		<script src="/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>
		<script src="/core/APIRequests/apirequests.js"></script>
		<script src="/node_modules/angular/angular.js"></script>
		<script src="/js/index.js"></script>
		<style>
			body 		{ padding-top:80px; word-wrap:break-word; }
		</style>
	</head>

<body>

<!------------------------------------------------------- Barre menu ----------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------------------- -->

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/home">MoviesBestChoice</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/home">Accueil</a></li>
						<li><a href="/profile">Profil</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Films recommandés  <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/testAlgo">Films recommandés par MoviesBestChoice</a></li>
								<li class="divider"></li>
								<li><a href="#">Films recommandés par amis</a></li>
								<li><a href="#">Films recommandés par un ami</a></li>
								<li class="divider"></li>
								<li><a href="#">Films recommandés par catégorie</a></li>
							</ul>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.local.username %>  <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/configure"><span class="glyphicon glyphicon-user"></span>Modifier le profil</a></li>
								<li class="divider"></li>
								<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Se déconnecter</a></li>
							</ul>
						</li>
					</ul>


				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>



<!-- ------------------------------------------------------------ MAIN DIV ----------------------------------------------------- -->



	<div class="container">
		<div class="row main">
			<div class="panel-heading">
				<div class="panel-title text-center">
					<h1 id="title"></h1>
					<hr />
				</div>
			</div>
		</div>

		<div id="movie"></div>

		<section id=notation>
			<h2>Notation</h2>

			<form id="critere_form" action="/movie/<%= id %>" method="post">

				<span class="critere">
					<h5>Scénario</h5>
					<input type="radio" name="scenario" class="falseInput" id="scenario_false" value="false">
					<input type="radio" name="scenario" class="nullInput" id="scenario_null" value="null" checked>
					<input type="radio" name="scenario" class="trueInput" id="scenario_true" value="true">
					<span class="loadcheck">
						<label for="scenario_false" class="falseLabel" id="label_scenario_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="scenario_null" class="nullLabel" id="label_scenario_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="scenario_true" class="trueLabel" id="label_scenario_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Performance acteurs</h5>
					<input type="radio" name="jeu_acteurs" class="falseInput" id="jeu_acteurs_false" value="false">
					<input type="radio" name="jeu_acteurs" class="nullInput" id="jeu_acteurs_null" value="null" checked>
					<input type="radio" name="jeu_acteurs" class="trueInput" id="jeu_acteurs_true" value="true">
					<span class="loadcheck">
						<label for="jeu_acteurs_false" class="falseLabel" id="label_jeu_acteurs_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="jeu_acteurs_null" class="nullLabel" id="label_jeu_acteurs_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="jeu_acteurs_true" class="trueLabel" id="label_jeu_acteurs_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Mise en scène</h5>
					<input type="radio" name="realisation" class="falseInput" id="realisation_false" value="false">
					<input type="radio" name="realisation" class="nullInput" id="realisation_null" value="null" checked>
					<input type="radio" name="realisation" class="trueInput" id="realisation_true" value="true">
					<span class="loadcheck">
						<label for="realisation_false" class="falseLabel" id="label_realisation_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="realisation_null" class="nullLabel" id="label_realisation_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="realisation_true" class="trueLabel" id="label_realisation_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Bande son</h5>
					<input type="radio" name="bande_son" class="falseInput" id="bande_son_false" value="false">
					<input type="radio" name="bande_son" class="nullInput" id="bande_son_null" value="null" checked>
					<input type="radio" name="bande_son" class="trueInput" id="bande_son_true" value="true">
					<span class="loadcheck">
						<label for="bande_son_false" class="falseLabel" id="label_bande_son_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="bande_son_null" class="nullLabel" id="label_bande_son_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="bande_son_true" class="trueLabel" id="label_bande_son_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Ambiance</h5>
					<input type="radio" name="ambiance" class="falseInput" id="ambiance_false" value="false">
					<input type="radio" name="ambiance" class="nullInput" id="ambiance_null" value="null" checked>
					<input type="radio" name="ambiance" class="trueInput" id="ambiance_true" value="true">
					<span class="loadcheck">
						<label for="ambiance_false" class="falseLabel" id="label_ambiance_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="ambiance_null" class="nullLabel" id="label_ambiance_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="ambiance_true" class="trueLabel" id="label_ambiance_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Lumière</h5>
					<input type="radio" name="lumiere" class="falseInput" id="lumiere_false" value="false">
					<input type="radio" name="lumiere" class="nullInput" id="lumiere_null" value="null" checked>
					<input type="radio" name="lumiere" class="trueInput" id="lumiere_true" value="true">
					<span class="loadcheck">
						<label for="lumiere_false" class="falseLabel" id="label_lumiere_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="lumiere_null" class="nullLabel" id="label_lumiere_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="lumiere_true" class="trueLabel" id="label_lumiere_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Montage</h5>
					<input type="radio" name="montage" class="falseInput" id="montage_false" value="false">
					<input type="radio" name="montage" class="nullInput" id="montage_null" value="null" checked>
					<input type="radio" name="montage" class="trueInput" id="montage_true" value="true">
					<span class="loadcheck">
						<label for="montage_false" class="falseLabel" id="label_montage_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="montage_null" class="nullLabel" id="label_montage_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="montage_true" class="trueLabel" id="label_montage_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Dialogues</h5>
					<input type="radio" name="dialogues" class="falseInput" id="dialogues_false" value="false">
					<input type="radio" name="dialogues" class="nullInput" id="dialogues_null" value="null" checked>
					<input type="radio" name="dialogues" class="trueInput" id="dialogues_true" value="true">
					<span class="loadcheck">
						<label for="dialogues_false" class="falseLabel" id="label_dialogues_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="dialogues_null" class="nullLabel" id="label_dialogues_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="dialogues_true" class="trueLabel" id="label_dialogues_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Décors</h5>
					<input type="radio" name="decors" class="falseInput" id="decors_false" value="false">
					<input type="radio" name="decors" class="nullInput" id="decors_null" value="null" checked>
					<input type="radio" name="decors" class="trueInput" id="decors_true" value="true">
					<span class="loadcheck">
						<label for="decors_false" class="falseLabel" id="label_decors_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="decors_null" class="nullLabel" id="label_decors_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="decors_true" class="trueLabel" id="label_decors_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Costumes</h5>
					<input type="radio" name="costumes" class="falseInput" id="costumes_false" value="false">
					<input type="radio" name="costumes" class="nullInput" id="costumes_null" value="null" checked>
					<input type="radio" name="costumes" class="trueInput" id="costumes_true" value="true">
					<span class="loadcheck">
						<label for="costumes_false" class="falseLabel" id="label_costumes_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="costumes_null" class="nullLabel" id="label_costumes_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="costumes_true" class="trueLabel" id="label_costumes_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Narration</h5>
					<input type="radio" name="narration" class="falseInput" id="narration_false" value="false">
					<input type="radio" name="narration" class="nullInput" id="narration_null" value="null" checked>
					<input type="radio" name="narration" class="trueInput" id="narration_true" value="true">
					<span class="loadcheck">
						<label for="narration_false" class="falseLabel" id="label_narration_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="narration_null" class="nullLabel" id="label_narration_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="narration_true" class="trueLabel" id="label_narration_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Rythme</h5>
					<input type="radio" name="rythme" class="falseInput" id="rythme_false" value="false">
					<input type="radio" name="rythme" class="nullInput" id="rythme_null" value="null" checked>
					<input type="radio" name="rythme" class="trueInput" id="rythme_true" value="true">
					<span class="loadcheck">
						<label for="rythme_false" class="falseLabel" id="label_rythme_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="rythme_null" class="nullLabel" id="label_rythme_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="rythme_true" class="trueLabel" id="label_rythme_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>SFX</h5>
					<input type="radio" name="sfx" class="falseInput" id="sfx_false" value="false">
					<input type="radio" name="sfx" class="nullInput" id="sfx_null" value="null" checked>
					<input type="radio" name="sfx" class="trueInput" id="sfx_true" value="true">
					<span class="loadcheck">
						<label for="sfx_false" class="falseLabel" id="label_sfx_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="sfx_null" class="nullLabel" id="label_sfx_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="sfx_true" class="trueLabel" id="label_sfx_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

			</form>
			<button form="critere_form" type="submit">Valider</button>
		</section>

		<footer>
			<hr>
			<p>© Copyright 2016</p>
		</footer>

	</div>


	<!-- Mise en place dynamique de la page -->
	<script type="text/javascript">

		var film = JSON.parse(getMovieById(<%= id %>));

		console.log(film);

		document.getElementById('title').textContent = film.title;
		document.getElementById('pageTitle').textContent = film.title;

		movie.style.minHeight = '450px';

		var poster = document.createElement('IMG');
		poster.setAttribute('id', 'poster');
		poster.setAttribute('align', 'middle');
		poster.setAttribute('src', "https://image.tmdb.org/t/p/w300_and_h450_bestv2" + film.poster_path);
		poster.setAttribute('style', 'float:left', 'height:400px');
		poster.style.paddingRight = '20px';
		movie.appendChild(poster);

		var releaseDate = document.createElement('div');
		releaseDate.setAttribute('id', 'releaseDate');
		releaseDate.textContent = 'Date de sortie : ' + film.release_date;
		releaseDate.style.marginBottom = '10px';
		movie.appendChild(releaseDate);

		var overview = document.createElement('div');
		overview.setAttribute('id', 'overview');
		overview.textContent = 'Synopsis : ' + film.overview;
		movie.appendChild(overview);

		// Affichage des notes
		var criteres = <%- criteres %>;
		if (criteres !== "null")
		{
			for (i in criteres)
			{
				if (criteres[i] === true) {
					document.getElementById(i + "_true").checked = true;
				}
				else if (criteres[i] === false) {
					document.getElementById(i + "_false").checked = true;
				}
			}
		}
	</script>
</body>

</html>
