<!-- views/movie.ejs -->
<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title id='pageTitle'>MoviesBestChoice</title>
		<!-- Imports -->
		<link rel="shortcut icon" href="/img/icon_small.png">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/movies.css">
		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
		<script src="/node_modules/jquery/dist/jquery.min.js"></script>
		<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>
		<script src="/core/APIRequests/apirequests.js"></script>
		<script src="/node_modules/angular/angular.js"></script>
		<script src="/js/index.js"></script>
		<style>
			body 		{ padding-top:80px; word-wrap:break-word; }
		</style>
	</head>

<body>

<!------------------------------------------------------- Barre menu ----------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------------------- -->

		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/home">MoviesBestChoice</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/home">Accueil</a></li>
						<li><a href="/profile">Profil</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Films recommandés  <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/testAlgo">Films recommandés par MoviesBestChoice</a></li>
								<li class="divider"></li>
								<li><a href="#">Films recommandés par amis</a></li>
								<li><a href="#">Films recommandés par un ami</a></li>
								<li class="divider"></li>
								<li><a href="#">Films recommandés par catégorie</a></li>
							</ul>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.local.username %>  <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/configure"><span class="glyphicon glyphicon-user"></span>Modifier le profil</a></li>
								<li class="divider"></li>
								<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Se déconnecter</a></li>
							</ul>
						</li>
					</ul>


				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>



<!-- ------------------------------------------------------------ MAIN DIV ----------------------------------------------------- -->



	<div class="container">
		<div class="row main">
			<div class="panel-heading">
				<div class="panel-title text-center">
					<h1 id="title"></h1>
					<hr />
				</div>
			</div>
		</div>

		<div id="movie"></div>

		<section id=notation>
			<h2>Notation</h2>

			<form id="critere_form" action="/movie/<%= id %>" method="post">

				<span class="critere">
					<h5>Scénario</h5>
					<input type="radio" name="scenario" class="falseInput" id="scenario_false" value="false">
					<input type="radio" name="scenario" class="nullInput" id="scenario_null" value="null" checked>
					<input type="radio" name="scenario" class="trueInput" id="scenario_true" value="true">
					<span class="loadcheck">
						<label for="scenario_false" class="falseLabel" id="scenario_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="scenario_null" class="nullLabel" id="scenario_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="scenario_true" class="trueLabel" id="scenario_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Performance acteurs</h5>
					<input type="radio" name="actorPerformance" class="falseInput" id="actorPerformance_false" value="false">
					<input type="radio" name="actorPerformance" class="nullInput" id="actorPerformance_null" value="null" checked>
					<input type="radio" name="actorPerformance" class="trueInput" id="actorPerformance_true" value="true">
					<span class="loadcheck">
						<label for="actorPerformance_false" class="falseLabel" id="actorPerformance_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="actorPerformance_null" class="nullLabel" id="actorPerformance_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="actorPerformance_true" class="trueLabel" id="actorPerformance_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Mise en scène</h5>
					<input type="radio" name="directing" class="falseInput" id="directing_false" value="false">
					<input type="radio" name="directing" class="nullInput" id="directing_null" value="null" checked>
					<input type="radio" name="directing" class="trueInput" id="directing_true" value="true">
					<span class="loadcheck">
						<label for="directing_false" class="falseLabel" id="directing_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="directing_null" class="nullLabel" id="directing_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="directing_true" class="trueLabel" id="directing_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Bande son</h5>
					<input type="radio" name="ost" class="falseInput" id="ost_false" value="false">
					<input type="radio" name="ost" class="nullInput" id="ost_null" value="null" checked>
					<input type="radio" name="ost" class="trueInput" id="ost_true" value="true">
					<span class="loadcheck">
						<label for="ost_false" class="falseLabel" id="ost_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="ost_null" class="nullLabel" id="ost_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="ost_true" class="trueLabel" id="ost_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Ambiance</h5>
					<input type="radio" name="ambiance" class="falseInput" id="ambiance_false" value="false">
					<input type="radio" name="ambiance" class="nullInput" id="ambiance_null" value="null" checked>
					<input type="radio" name="ambiance" class="trueInput" id="ambiance_true" value="true">
					<span class="loadcheck">
						<label for="ambiance_false" class="falseLabel" id="ambiance_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="ambiance_null" class="nullLabel" id="ambiance_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="ambiance_true" class="trueLabel" id="ambiance_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Lumière</h5>
					<input type="radio" name="photography" class="falseInput" id="photography_false" value="false">
					<input type="radio" name="photography" class="nullInput" id="photography_null" value="null" checked>
					<input type="radio" name="photography" class="trueInput" id="photography_true" value="true">
					<span class="loadcheck">
						<label for="photography_false" class="falseLabel" id="photography_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="photography_null" class="nullLabel" id="photography_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="photography_true" class="trueLabel" id="photography_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Montage</h5>
					<input type="radio" name="editing" class="falseInput" id="editing_false" value="false">
					<input type="radio" name="editing" class="nullInput" id="editing_null" value="null" checked>
					<input type="radio" name="editing" class="trueInput" id="editing_true" value="true">
					<span class="loadcheck">
						<label for="editing_false" class="falseLabel" id="editing_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="editing_null" class="nullLabel" id="editing_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="editing_true" class="trueLabel" id="editing_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Dialogues</h5>
					<input type="radio" name="dialogues" class="falseInput" id="dialogues_false" value="false">
					<input type="radio" name="dialogues" class="nullInput" id="dialogues_null" value="null" checked>
					<input type="radio" name="dialogues" class="trueInput" id="dialogues_true" value="true">
					<span class="loadcheck">
						<label for="dialogues_false" class="falseLabel" id="dialogues_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="dialogues_null" class="nullLabel" id="dialogues_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="dialogues_true" class="trueLabel" id="dialogues_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Décors</h5>
					<input type="radio" name="set" class="falseInput" id="set_false" value="false">
					<input type="radio" name="set" class="nullInput" id="set_null" value="null" checked>
					<input type="radio" name="set" class="trueInput" id="set_true" value="true">
					<span class="loadcheck">
						<label for="set_false" class="falseLabel" id="set_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="set_null" class="nullLabel" id="set_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="set_true" class="trueLabel" id="set_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Costumes</h5>
					<input type="radio" name="costumes" class="falseInput" id="costumes_false" value="false">
					<input type="radio" name="costumes" class="nullInput" id="costumes_null" value="null" checked>
					<input type="radio" name="costumes" class="trueInput" id="costumes_true" value="true">
					<span class="loadcheck">
						<label for="costumes_false" class="falseLabel" id="costumes_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="costumes_null" class="nullLabel" id="costumes_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="costumes_true" class="trueLabel" id="costumes_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Narration</h5>
					<input type="radio" name="narration" class="falseInput" id="narration_false" value="false">
					<input type="radio" name="narration" class="nullInput" id="narration_null" value="null" checked>
					<input type="radio" name="narration" class="trueInput" id="narration_true" value="true">
					<span class="loadcheck">
						<label for="narration_false" class="falseLabel" id="narration_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="narration_null" class="nullLabel" id="narration_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="narration_true" class="trueLabel" id="narration_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>Rythme</h5>
					<input type="radio" name="rythm" class="falseInput" id="rythm_false" value="false">
					<input type="radio" name="rythm" class="nullInput" id="rythm_null" value="null" checked>
					<input type="radio" name="rythm" class="trueInput" id="rythm_true" value="true">
					<span class="loadcheck">
						<label for="rythm_false" class="falseLabel" id="rythm_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="rythm_null" class="nullLabel" id="rythm_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="rythm_true" class="trueLabel" id="rythm_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

				<span class="critere">
					<h5>SFX</h5>
					<input type="radio" name="sfx" class="falseInput" id="sfx_false" value="false">
					<input type="radio" name="sfx" class="nullInput" id="sfx_null" value="null" checked>
					<input type="radio" name="sfx" class="trueInput" id="sfx_true" value="true">
					<span class="loadcheck">
						<label for="sfx_false" class="falseLabel" id="sfx_false" title="Je n'aime pas">
							<span class="entypo-cancel">&#10008;</span>
						</label>
				    <label for="sfx_null" class="nullLabel" id="sfx_null" title="neutre">
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="loadMid"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
						<span class="load"></span>
				    </label>
				    <label for="sfx_true" class="trueLabel" id="sfx_true" title="J'aime">
						<span class="entypo-check">&#10004;</span>
				    </label>
					</span>
				</span>

			</form>
			<button form="critere_form" type="submit">Valider</button>
		</section>

		<footer>
			<hr>
			<p>© Copyright 2016</p>
		</footer>

	</div>


	<!-- Mise en place dynamique de la page -->
	<script type="text/javascript">

		var film = JSON.parse(getMovieById(<%= id %>));

		console.log(film);

		document.getElementById('title').textContent = film.title;
		document.getElementById('pageTitle').textContent = film.title;

		movie.style.minHeight = '450px';

		var poster = document.createElement('IMG');
		poster.setAttribute('id', 'poster');
		poster.setAttribute('align', 'middle');
		poster.setAttribute('src', "https://image.tmdb.org/t/p/w300_and_h450_bestv2" + film.poster_path);
		poster.setAttribute('style', 'float:left', 'height:400px');
		poster.style.paddingRight = '20px';
		movie.appendChild(poster);

		var releaseDate = document.createElement('div');
		releaseDate.setAttribute('id', 'releaseDate');
		releaseDate.textContent = 'Date de sortie : ' + film.release_date;
		releaseDate.style.marginBottom = '10px';
		movie.appendChild(releaseDate);

		var overview = document.createElement('div');
		overview.setAttribute('id', 'overview');
		overview.textContent = 'Synopsis : ' + film.overview;
		movie.appendChild(overview);
	</script>
</body>

</html>
