<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Inscription</title>
	<link rel="shortcut icon" href="/img/icon_small.png">
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="/node_modules/bootstrap-multiselect/dist/css/bootstrap-multiselect.css">
	<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css"> <!-- load fontawesome -->
	<script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/node_modules/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
	<script type="text/javascript" src="node_modules/moment/min/moment.min.js"></script>

	<script type="text/javascript">
			$(document).ready(function() {
				$('#categories').multiselect({
					buttonWidth: "100%",
					nonSelectedText: 'Seléctioner vos catégories préférées',
					enableFiltering: true,
   					enableCaseInsensitiveFiltering: true,
				});
			});
	</script>

	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>


<!------------------------------------------------------- Barre menu ----------------------------------------------------- -->
<!------------------------------------------------------------------------------------------------------------------------ -->


		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">MoviesBestChoice</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/">Accueil</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="/signup"><span class="glyphicon glyphicon-user"></span> Inscription</a></li>
						<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Connexion</a></li>
					</ul>

				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->

		</nav>


<!-----------------------------------------------------  Content   ------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------------------------------------------------- -->

<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-user"></span> Inscription</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="form-group">
			<label>Nom d'utilisateur</label>
			<input type="text" class="form-control" name="username">
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>Mot de passe</label>
			<input type="password" class="form-control" name="password">
		</div>
		<div class="form-group">
			<label>Confirmer mot de passe</label>
			<input type="password" class="form-control" name="confirmpassword">
		</div>
		<div class="form-group">
			<label>Catégories préférées</label><br>
				<select id="categories" name="categories" class="col-sm-6 col-sm-offset-3" multiple="multiple">
					<option value="action">Action</option>
					<option value="aventure">Aventure</option>
					<option value="animation">Animation</option>
					<option value="comedie">Comédie</option>
					<option value="crime">Crime</option>
					<option value="documentaire">Documentaire</option>
					<option value="drame">Drame</option>
					<option value="familial">Familial</option>
					<option value="fantastique">Fantastique</option>
					<option value="historique">Historique</option>
					<option value="horreur">Horreur</option>
					<option value="musique">Musique</option>
					<option value="mystere">Mystère</option>
					<option value="romance">Romance</option>
					<option value="science_fiction">Science-Fiction</option>
					<option value="thriller">Thriller</option>
					<option value="guerre">Guerre</option>
					<option value="western">Western</option>
				</select>
		</div>


		<button type="submit" class="btn btn-primary btn-lg">S'inscrire</button>
	</form>

	<hr>

	<p>Si vous avez un compte, <a href="/login">Connectez-vous</a></p>

</div>

</div>


</body>
</html>
