#topbar input {
	width: 250px;
}

div.movie {
	height: 700px;
	margin-bottom: 20px;
}

div.movie img.poster {
	float: left;
	height: 400px;
}

.actor {
	height: 500px;
}

.actor a{
	margin-right: 10px;
}

.actor img {
	width: 250px;
}

p {
	text-align: justify;
}

.actors {
	margin-bottom: 20px;
}
