<html ng-app="filmApp" ng-controller="FilmController as filmList">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="index.css" type="text/css">
		<!-- Imports -->
		<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<script src="node_modules/angular/angular.js"></script>
		<script src="index.js"></script>
		<script src="core/apiRequests/apirequests.js"></script>
	</head>
	<body>
		<!-- TODO barre a completer -->
		<div id="topbar">
			<a id="home" href="#" onclick="window.location.reload()">
				<img src="images/accueil.png" />
			</a>
			<input placeholder="Chercher des films, des acteurs ou d'autres choses" ng-model="inputText" 
				onkeydown="if(event.keyCode === 13) $('#search').click()" />
			<a id="search" href="#" ng-click="filmList.search(inputText)">
				<img src="images/search.png" />
			</a>
		</div>
		<!-- Corps de la page dynamique (angularjs) -->
		<div id="content">
			<div ng-repeat="film in filmList.films" ng-class-even="'background'" class="film">
				<div class="rank">
					#{{film.rank}}
				</div>
				<img ng-src={{film.imgUrl}} />
				<p>
					<div class="title">
						{{film.title}}
					</div>
					<div class="producer">
						de {{film.producer}}
					</div>
				</p><p>
					{{film.description}}
				</p>
			</div>
			<div class="center">
				<!-- TODO : au clic, affiche 10 films supplementaires -->
				<button>Afficher plus</button>
			</div>
		</div>
	</body>
</html>


