body {
	margin: 0;
}

/* Barre de menu */

#topbar {
	position: fixed;
	height: 40px;
	width: 100%;
	background-color: black;
	display: flex;
	align-items: center;
	padding: 0 5px;
	z-index: 1;
}

#topbar #home img {
	height: 35px;
	margin-right: 10px;
}

#topbar input {
	width: 400px;
	height: 25px;
	border: 0;
	padding: 5px;
}

#topbar #search {
	width: 40px;
	background-color: #e6e6e6;
}

#topbar #search img {
	height: 25px;
	display: block;
	margin: 0 auto;
}


/* Corps de la page */

#content {
	margin-top: 40px;
	position: absolute;
}

div.film {
	min-height: 400px;
	padding: 20px 20px;
}

div.film.background {
	background-color: #f1f1f1;
}

div.rank {
	font-weight: bold;
	font-size: 40px;
	float: right;
}

div.title {
	font-weight: bold;
	font-size: 20px;
}

div.producer {
	font-style: italic;
}

div.film img {
	height: 400px;
	float: left;
	margin-right: 20px;
}

p {
	text-align: justify;
}

.center {
	text-align: center;
}